<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planing</title>
</head>

<body>
    <header class="header">
        Travel Planing
    </header>
    <section class="main-content">
        <form id="form" class="form">
            <p class="form-title">Let's start your journey</p>
            <div class="form-control">
                <label class="form-label" for="location">Location: </label>
                <input class="form-input" id="location" type="text" required />
            </div>
            <div class="form-control">
                <label class="form-label" for="date">Date: </label>
                <input class="form-input" id="date" type="date" required />
            </div>
            <div class="form-control">
                <label class="form-error" id="error"></label>
            </div>
            <button class="form-btn" type="submit">Generate</button>
        </form>
        <div id="result-content" class="result-content">
            <img class="result-image"
                src="https://pixabay.com/get/gc8c9cc809218378dc01daeaf3369355d3f80214352a087a8c7de7db00d5f63b9a31263ef40277a0568d832db6661f5f580aae9ff37344901dfbeb735e7c9916a_1280.jpg" />
            <div class="travel-info">
                <div class="travel-child-info">
                    <i class="bi bi-geo-alt-fill"></i>
                    <p>Location: Viet Nam</p>
                </div>
                <div class="travel-child-info">
                    <i class="bi bi-calendar-date-fill"></i>
                    <p>Travel date: 10 Apr 2024</p>
                </div>
            </div>
            <div class="weather-info-title">
                Weather info
            </div>
            <div class="weather-info">
                <div class="date-info">
                    20 Apr 2024
                </div>
                <div class="child-info">
                    <i class="bi bi-thermometer-low"></i>
                    <p>30°C</p>
                </div>
                <div class="child-info">
                    <i class="bi bi-thermometer-high"></i>
                    <p>35°C</p>
                </div>
                <div class="child-info">
                    <i class="bi bi-brightness-high-fill"></i>
                    <p>UV: 30</p>
                </div>
                <div class="child-info">
                    <i class="bi bi-cloud-rain-fill"></i>
                    <p>Probability of precipitation: 30%</p>
                </div>
                <div class="child-info">
                    <i class="bi bi-snow"></i>
                    <p>Snow: 30mm</p>
                </div>
                <div class="child-info">
                    <p>Description: Sun ervery hour</p>
                </div>
            </div>
            <div class="result-action">
                <button class="button-save">Save trip</button>
                <button class="button-delete">Delete trip</button>
            </div>
        </div>
    </section>

    <footer class="footer">
        Copyright 2024
    </footer>
</body>

</html>